.header {
  color: #c8cbcf;
  height: 15vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: maroon;
  width: 100%;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.title {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 1rem;
  }
}
