.header {
  height: 15vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: maroon;
  width: 100%;
}

.title {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 1rem;
  }
}
