.mini-movie {
  margin: auto;
}

.movie-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 55vh;
  margin-top: 20px;
}

.movie-poster {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1vh;
}

.title-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 0px;
}

a:link,
a:visited {
  color: #c8cbcf;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .movie-wrapper {
    width: 150px;
    height: 375px;
  }

  .movie-title {
    text-align: center;
    font-size: 1rem;
    margin: 0px;
  }
}

@media only screen and (max-width: 450px) {
  .movie-wrapper {
    width: 100px;
    height: 250px;
    margin-top: 40px;
  }

  .movie-title {
    text-align: center;
    font-size: 0.8rem;
    margin: 0px;
  }
}
