.movie-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 50vh;
  border: 1px solid black;
  margin: 20px;
}

.movie-poster {
  width: 100%;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie-title,
.movie-rating {
  font-size: 2vw;
  margin: 0px;
}
