.mini-movie {
  margin: auto;
}

.movie-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 50vh;
  margin: 20px;
  border: none;
}

.movie-poster {
  width: 100%;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie-title {
  text-align: center;
  font-size: 2vw;
  margin: 0px;
}
a:link,
a:visited {
  color: #c8cbcf;
  text-decoration: none;
}
